BPM_Estrategico/SOA/WSDLs/DesarrollarEspecificacionesDiseno.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.javeriana.com/bpmn/bpmnProcess/desarrollarEspecificacionesDiseno" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:tns="http://xmlns.javeriana.com/bpmn/bpmnProcess/desarrollarEspecificacionesDiseno"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.javeriana.com/bpmn/bpmnProcess/desarrollarEspecificacionesDiseno">
            <xsd:element name="finDesarrollarEspecificacionesDisenoResponse">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="inicioDesarrollarEspecificacionesDiseno">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="finDesarrollarEspecificacionesDisenoResponse">
        <wsdl:part name="parameters" element="tns:finDesarrollarEspecificacionesDisenoResponse"/>
    </wsdl:message>
    <wsdl:message name="inicioDesarrollarEspecificacionesDiseno">
        <wsdl:part name="parameters" element="tns:inicioDesarrollarEspecificacionesDiseno"/>
    </wsdl:message>
    <wsdl:portType name="DesarrollarEspecificacionesDisenoPortTypeCallBack">
        <wsdl:operation name="finDesarrollarEspecificacionesDiseno">
            <wsdl:input message="tns:finDesarrollarEspecificacionesDisenoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="DesarrollarEspecificacionesDisenoPortType">
        <wsdl:operation name="inicioDesarrollarEspecificacionesDiseno">
            <wsdl:input message="tns:inicioDesarrollarEspecificacionesDiseno"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="DesarrollarEspecificacionesDisenoPortTypePartnerLinkType">
        <plnk:role name="DesarrollarEspecificacionesDisenoPortTypeProvider">
            <plnk:portType name="tns:DesarrollarEspecificacionesDisenoPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
